<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <img src='../../assets/images/dog1.png'><span class="app-title">Watch Dog</span>
    </mat-toolbar>
    <mat-nav-list>
      <button mat-button class="nav-list" routerLink='/dashboard'>
        <mat-icon>dashboard</mat-icon>Dashboard
      </button>
      <button mat-button class="nav-list" routerLink='/contacts'>
        <mat-icon>people</mat-icon>Friends
      </button>
      <button mat-button class="nav-list" routerLink=''>
        <mat-icon>settings</mat-icon>Settings
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>